debian/juno-drivers/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/juno-drivers.substvars
debian/juno-drivers.debhelper.log
.verify/
.codex
debian/juno-drivers-diamon/
debian/juno-drivers-diamon.substvars
debian/juno-drivers-diamon.debhelper.log
