debian/juno-drivers/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/juno-drivers.substvars
debian/juno-drivers.debhelper.log
.verify/
.codex
debian/juno-drivers-local/
debian/juno-drivers-local.substvars
debian/juno-drivers-local.debhelper.log
