############################################
##           Juno Computers Ltd.          ##
##   Powertop Settings for Juno Laptops   ##
##        https://junocomputers.com       ##
############################################

# ------------------------------------------------------------------------------

SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/juno-pp"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/juno-pp"