#########################################
##         Juno Computers Ltd          ##
##   ACPI Settings for Juno Laptops    ##
##      https://junocomputers.com      ##
#########################################

# ------------------------------------------------------------------------------

SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/juno-cpu-policy --quiet battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/juno-cpu-policy --quiet ac"
