Source: juno-drivers
Section: metapackages
Priority: optional
Build-Depends: debhelper-compat (= 13)
Maintainer: Giovanni Caligaris <usa@junocomputers.com>

Package: juno-drivers
Section: metapackages
Priority: optional
Architecture: amd64
Depends: amd64-microcode,
	 check-battery,
	 cryptsetup,
	 flatpak,
	 intel-media-va-driver-non-free,
	 intel-microcode,
	 juno-archive-keyring,
	 juno-grub,
	 juno-info,
	 linux-cpupower,
	 thermald	
Recommends: 7zip,
	    7zip-rar,
	    bash-completion,
	    cpufrequtils,
	    exfat-fuse,
	    ffmpeg,
	    ffmpegthumbnailer,
	    fonts-crosextra-caladea,
	    fonts-crosextra-carlito,
	    fonts-liberation,
	    fonts-roboto,
	    gaudible,
	    geoclue-position,
	    go-mtpfs,
	    gstreamer1.0-pipewire,
	    gstreamer1.0-plugins-bad,
	    gstreamer1.0-pulseaudio,
	    gstreamer1.0-tools,
	    gstreamer1.0-vaapi,
	    gtk2-engines-pixbuf,
	    heif-thumbnailer,
	    hfsplus,
	    hfsprogs,
	    hfsutils,
	    i2c-tools,
	    ifuse,
	    ipheth-utils,
	    juno-pp,
	    juno-wallpaper,
	    libcamera-ipa,
	    libcamera-v4l2,
	    libfsapfs-utils,
	    libhidapi-hidraw0,
	    libhidapi-libusb0,
	    libimobiledevice-utils,
	    mtp-tools,
	    net-tools,
	    ntfs-3g,
	    pipewire-libcamera,
	    pipewire-v4l2,
	    plocate,
	    printer-driver-all,
	    pulseaudio-utils,
	    rar,
	    steam-devices,
	    unrar,
	    xserver-xorg-input-synaptics
Suggests: clevo-keyboard-controller, juno-fan-indicator
Homepage: https://junocomputers.com
Description: Debian Drivers for Juno Computers.
