Source: juno-drivers
Section: metapackages
Priority: optional
Build-Depends: debhelper
Maintainer: Giovanni Caligaris <junocomputers@outlook.com>

Package: juno-drivers
Section: metapackages
Priority: optional
Architecture: amd64
Depends: juno-info,
	libimobiledevice-utils,
	lm-sensors,
	exfat-fuse,
	libfsapfs-utils,
	ntfs-3g,
	hfsprogs,
	rar,
	p7zip-full,
	p7zip-rar,
	hfsutils-tcltk,
	unrar,
	mtp-tools,
	jmtpfs,
	ipheth-utils,
	printer-driver-all,
	fonts-liberation,
	fonts-crosextra-carlito,
	fonts-crosextra-caladea,
	fonts-roboto,
	flatpak,
	gtk2-engines-pixbuf,
	plocate,
	net-tools,
	gstreamer1.0-plugins-bad,
	cpufrequtils,
	heif-thumbnailer,
	intel-media-va-driver-non-free,
	cryptsetup,
	i2c-tools,
	thermald,
	ffmpeg,
	linux-cpupower,
	intel-microcode,
	amd64-microcode,
	bash-completion,
	gstreamer1.0-tools,
	gstreamer1.0-pulseaudio,
	gstreamer1.0-pipewire,
	gstreamer1.0-vaapi,
	pulseaudio-utils,
	ffmpegthumbnailer,
	juno-pp,
	gaudible,
	geoclue-position,
	juno-grub,
	juno-archive-keyring
Suggests: clevo-keyboard-controller, juno-fan-indicator
Homepage: https://junocomputers.com
Description: Debian Drivers for Juno Computers.
