#!/usr/bin/make -f
# debian/rules
# -*- makefile -*-

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install-base DESTDIR=$(CURDIR)/debian/juno-drivers
	$(MAKE) install-local DESTDIR=$(CURDIR)/debian/juno-drivers-local
